@import "tailwindcss";

@theme {
  /* Cores customizadas da Sotrigo */
  --color-sotrigo-orange: #FF6600;
  --color-sotrigo-green: #00A859;
  --color-sotrigo-yellow: #FFCC00;
  --color-sotrigo-dark: #1a1a1a;

  /* Cores principais do projeto */
  --color-primary: #FF6600;
  --color-secondary: #00A859;
  --color-background: #f4f4f5;
}